{% extends "layout.html" %}

{% block content %}

<div>
    <form action="/custom" method="post">
        <div class="form-group form-group-color">
            <span class="span-label">想看几句：<span id="span_sent_len">{{ sent_len }}</span></span>
            <input class="slider" name="sent_len" id="sent_len" type="range" min="1" max="20" value="{{ sent_len }}" />
        </div>
        <div class="form-group form-group-color">
            <span class="span-label">一句最多几个词：<span id="span_word_len">{{ word_len }}</span></span>
            <input class="slider" name="word_len" id="word_len" type="range" min="1" max="20" value="{{ word_len }}" />
        </div>
        <button class="btn btn-default btn-submit" type="submit">生成</button>
    </form>
    <div class="panel-color" style="margin-top: 20px">
        <div class="panel-body">
            {% for seq in seqs %}
            <p>{{ seq }}</p>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}

<script type="text/javascript">
    $('input').bind('input', function () {
        span_id = '#span_' + this.id
        $(span_id).text(this.value)
    })
</script>

{% endblock %}